totalcmd.co {
    tls geektheripper@gmail.com
    root /www
    log /logs/totalcmd.co-access.log
}

drive.totalcmd.co {
  tls geektheripper@gmail.com
  filemanager / /storage {
    database /filemanager/filemanager.db
  }
  gzip
  log /logs/drive.totalcmd.co-access.log
}

ftp.totalcmd.co {
  tls geektheripper@gmail.com
  root /storage/files
  browse /
  gzip
  log /logs/ftp.totalcmd.co-access.log
}

blog.totalcmd.co {
  tls geektheripper@gmail.com
  root /storage/blog
  markdown / {
    ext .md
  }
  gzip
  log /logs/ftp.totalcmd.co-access.log
}
